html {
  background-color: #black;
}

ul {
  list-style-type: none;
}

button {
  background: url('./images/black-bg.jpeg') no-repeat;
  color: darkgray;
  -webkit-box-shadow: inset 10px 10px 15px 0px #3a455d;
  -moz-box-shadow: inset 10px 10px 15px 0px #3a455d;
  box-shadow: inset 10px 10px 15px 0px #3a455d;
  outline: none;
  border-radius: 10px;
  border: solid #3a455d 3px;
  height: 100px;
  width: 300px;
  font-family: 'Poiret One', monaco;
  font-size: 28px;
  margin: 1%;
}

button:hover {
  background: url('./images/black-bg.jpeg') no-repeat;
  color: darkgray;
  transform:scale(1.1);
  border: solid gray 2px;
  cursor: pointer;
}

li {
  font-family: 'Poiret One', monaco;
  font-size: 28px;
  color: gray;
  text-align: center;
}

.bg-image {
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
  background: url('./images/red-bg.jpeg') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -999;
}

.users {
  color: black;
  list-style: none;
  display: table;
  flex-direction: row;
  text-align: center;
}
